.header {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 40px;
    box-sizing: border-box;
    background-color: white;
}
.logo {
    font-size: 26px;
    font-weight: bold;
    color: #0F3A5F;
}
.aki {
    color: #1E80A8;
    font-weight: 100;
}
.menu {
    display: flex;   
}
.menu ul {
    display: flex;
    justify-content: space-around;
}
.menu li {
    text-decoration: none;
    color: black;
    font-size: 16px;
    cursor: pointer;
    list-style: none;
    margin-left: 30px;
    margin-right: 30px;
}
.button {
    background-color: #32AFA1;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 14px;
    transition: 0.2s;
}
.button:hover {
    background-color: #279889;
}