.footer {
    width: 100%;
    background-color: #0f3A5F;
    color: white;
    padding: 40px 0;
    margin-top: 60px;
}

.container {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding: 0 20px;
}

.section h3{
    margin-bottom: 10px;
    border-bottom: 2px solid white;
    display: inline-block;
    padding-bottom: 5px;
}
.section p {
    margin: 5px 0;
    cursor: pointer;
    margin-bottom: 20px;
}
.copy {
    text-align: center;
    margin-top: 30px;
    color: #cbd6df;
    font-size: 14px;
}